.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* optional for smaller screens */
    gap: 20px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 1rem;
    text-align: center;
}

.footer p {
    color: white;
}

.social-links {
  display: flex;
  gap: 17px;
}

.social-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 6px;
    background: black;
    padding: 3px;
    color: white;
    transition: color 0.3s;
}

.social-links a:hover {
    color: pink;
}