main > section {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

li {
    color: black;
}

ul {
    padding-left: 5rem;
}

ol {
    padding-left: 5rem;
}

.image {
    width: 20rem;
    height: auto;
    border: 3px solid black;
}

.imgrow {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 100%;
}

.portfolio-header h2 {
    margin: 0;
    font-family: 'Sour Gummy';
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

.project-container h3 {
    margin: 0;
}

.portfolio-github-links {
    text-align: center;
}

.portfolio-link {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 6px;
    background: black;
    padding: 3px;
    color: #ffb7f4;
}